<a href="https://colab.research.google.com/github/harpreetSinghGuller/Data-Science-with-Python-Basics/blob/master/TextClassificationUsingFastAI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install torch_nightly -f https://download.pytorch.org/whl/nightly/cu92/torch_nightly.html
!pip install fastai

In [0]:
# import libraries
import fastai
from fastai import *
from fastai.text import * 
import pandas as pd
import numpy as np
from functools import partial
import io
import os

In [0]:
from sklearn.datasets import fetch_20newsgroups
dataset = fetch_20newsgroups(shuffle=True, random_state=1, remove=('headers', 'footers', 'quotes'))
documents = dataset.data


df = pd.DataFrame({'label':dataset.target, 'text':dataset.data})
df.shape

df.head(5)

   label                                               text
0     17  Well i'm not sure about the story nad it did s...
1      0  \n\n\n\n\n\n\nYeah, do you expect people to re...
2     17  Although I realize that principle is not one o...
3     11  Notwithstanding all the legitimate fuss about ...
4     10  Well, I will have to change the scoring on my ...

In [0]:
df = df[df['label'].isin([1,10])]
df = df.reset_index(drop = True)

df.shape
df.head(5)

   label                                               text
0     10  Well, I will have to change the scoring on my ...
1      1  Archive-name: graphics/resources-list/part1\nL...
2     10  \nAnd of course, Mike Ramsey was (at one time)...
3     10  As I promised, I would give you the name of th...
4     10  GAME(S) OF 4/15\n---------------\nADIRONDACK 6...